@import '../../../styles/settings.scss';

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_wrapper {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signupInput {
	margin-bottom: 10px;
}

.signupButton_wrapper {
	margin-top: 30px;
}
