@import '../../../styles/settings.scss';
@import '../../../styles/mixins';

.main_wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.buttons_wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;

	@include md {
		flex-direction: column;
	}
}

.lottie_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 50px;
	padding-top: 40px;
}

.text_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text_wrapper img {
	width: 60vw;
	padding-top: 30px;
}

.text_wrapper p {
	font-size: 1.6 * $base-size;
	text-align: center;
}
