$color-light: #fff;
$color-dark: #1d1d1d;
$color-very-dark: #010103;
$color-orange: #ff9665;
$color-blue-sky: #a2e5df;
$color-green-spring: #9ceaae;
$color-pink-light: #ffd4d5;
$color-peach: #ffedcc;

$font-text: 'Manjari', sans-serif;

$radius: 25px;
$base-size: 12px;
$transition: all 0.5s;
